<head>
    <meta charset="utf-8">
    <title>DocHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">


    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">



</head>

<body>
<!-- <header class="header">
    <img src="./assets/DocHub+ (6).png"/>
</header> -->

    <div class="main-wrapper">

        
        <!-- /Header -->

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <img src="/assets/DocHub+ (6).png"/>
                        <nav class="navbar">
                            <ul class="nav-links">
                                <li class="nav-item" ><a href="/dashboard/new">+ New Patient</button></li>
                                 <li class="nav-tiem"><a href="" id="allpatient">My Patients</li>
                                  <li class="nav-tiem"><a href="/dashboard" >Upcoming appointments</li>
                                <li class="nav-item"><a href="#" id="logout">Logout</a></li>
                            </ul>
                        </nav>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content" id="bull">
                                <div class="profile-info-widget">
                            
                                    <div class="profile-det-info">
                                        <h3>Doctor's name</h3>
                
                                        <div class="patient-details">
                                            <h5 class="mb-0">MDS - Oral Surgery</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">

                        <div class="row row-grid">
                            {{#each patientData as |PD|}}
                            <div class="col-md-6 col-lg-4 col-xl-3" >
                                <div class="card widget-profile pat-widget-profile" style="width: max-content">
                                    <div class="card-body" style="width: max-content">
                                        <div class="pro-widget-content">
                                            <div class="profile-info-widget">

                                                <div class="profile-det-info">
                                                    <h3><a href="/dashboard/chart/{{PD.id}}">{{PD.first_name}}
                                                            {{PD.last_name}}</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="patient-info">
                                            <ul>
                                                <li>Age <span>{{PD.age}} Years, {{PD.gender}}</span></li>
                                                <li>Appointment time: {{PD.appttime}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>

            </div>

        </div>
        <!-- /Page Content -->

    </div>

<script src="/js/dashboard.js"></script>

</body>
</html>
